<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="logfile.txt" layout="${date} ${message}"/>
      <target name="console1" xsi:type="Console"  layout="${time} ${message}"/>
      <target name="console2" xsi:type="Console"  layout="${message}"/>
    </targets>
  
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="Vts.MonteCarlo.MonteCarloSimulation" minlevel="Info" writeTo="console1" />
      <logger name="Vts.MonteCarlo.CommandLineApplication.MonteCarloSetup" minlevel="Info" writeTo="console1" />
      <logger name="Vts.MonteCarlo.CommandLineApplication.Program" minlevel="Info" writeTo="console2" />
    </rules>
</nlog>
